.App {
  text-align: center;
  background-image: linear-gradient(#5a519b, #64bdf0);
  max-width: 375px;
  margin: 2rem auto;
  color: white;
  padding: 2rem;
  border-radius: 10px
}

body {
  background-color: #7961a3;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 0
}

.currentTemp {
  font-size: 32px;
  margin-bottom: 0;
}

.city {
  font-weight: normal;
  margin-top: 2rem;
}

.otherTemps {
  margin-top: 0
}

li {
  list-style: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 18px;
  background-color: #5a519b;
  cursor: pointer;
  margin-bottom: 1rem;
}

nav {
  width: 350px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

li:hover, li:active {
  color: #64bdf0;
}

li:active {
  text-shadow: 1px 1px gray;
}

.forecastDays, .forecastTemp {
  display: inline-grid;
  grid-template-columns: 88px 88px 88px 88px;
}

.forecastTemp p {
  margin-top: 0;
  font-size: 18px;
}

.forecastDays p {
  margin-bottom: 0.5rem
}

.subtitle {
  margin-bottom: 0
}

.submitButton {
  background-color: #7961a3;
  color: white;
  border-radius: 5px;
  margin-left: 0.5rem;
  font-size: 16px;
}

.currentCity {
  font-size: 18px;
}

.forecast, .currentCond {
  background-color: #b4cfea;
  color: #647c9d;
  font-weight: bold;
  border-radius: 50px;
}

.currentCond {
  display: inline-grid;
  grid-template-columns: 187px 187px;
  border-radius: 25px;
}

.currentCond p {
  text-align: right;
  margin: 0.5rem 1.5rem 0.5rem 0;
  align-self: end;
}

p.currentIcon {
  margin-left: 1.5rem;
  align-self: center;
  text-align: left;
}